body{
    background: url("https://i.pinimg.com/originals/37/10/e2/3710e28bc41e02820cd733dcd8090300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    align-content: center;
}


h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-right: 30%;
    
}

#buttons-view{
   padding: 20px;
}

#topic-input{
    align-content: center;
    /* margin-left: 33%; */
}


#designer-add{
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.btn-dark {
    padding: 10px;
    margin: 10px;
    align-content: center;
    margin-left:10px;
}